################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NicoDataExtractor/bin/Debug/
/NicoDataExtractor/bin/Release/
/NicoDataExtractor/obj
*.user
/NicoDataExtractor/Properties/PublishProfiles/FolderProfile.pubxml
