################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NicoDataExtractor/bin/Debug/netcoreapp2.2
/NicoDataExtractor/obj
*.user
